body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #231F20;
}
p{
    font-size:30px;
    color: white;
}

h1{
    color:white;
}

.vert-center{
    text-align: center;
}

.background-img{
    background-size: cover;
    background-position-y: 50%;
}

@font-face {
    font-family: melting;
    src: url(fonts/jd_melted.ttf);
  }

.meltme{
    font-family: melting;
    font-size: 135px;
}

.author{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.background-transparent{
    background-color: black;
    border-radius: 20px;
}

.img-board{
    border-radius: 20px;
    margin-bottom: 20px;
}

.icons{
    border-radius: 20px;
    margin-bottom: 20px;
}
.links > *{
    font-size: 35px;
}