body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #231F20;
}
p{
    font-size:30px;
    color: white;
}

.list{
    font-size:20px;
    color: white;
}

h1{
    color:white;
}

.vert-center{
    text-align: center;
}

.background-img{
    background-size: auto;
    background-position-y: 20%;
}

.background-item{
    background-position-x: 200%;
}

@font-face {
    font-family: melting;
    src: url(fonts/jd_melted.ttf);
  }

  .fill-usglaciers{
    width: 100%;
  }
.meltme{
    font-family: melting;
    font-size: 135px;
}

.author{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.background-transparent{
    background-color: #231F20;
    border-radius: 20px;
    opacity:80%;
}

.img-board{
    border-radius: 20px;
    margin-bottom: 20px;
}

.icons{
    border-radius: 20px;
    margin-bottom: 20px;
}
.links > *{
    font-size: 35px;
}
.glacier-sea{
    margin-right: 50px;
}
